################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AppCfgSolution/v15
/AppCfg/bin/Debug
/AppCfg/obj/Debug
/AppCfgDemo/bin/Debug
/AppCfgDemo/obj/Debug
/packages
/.vs/config
/AppCfg/obj
/AppCfg/bin/Release
/AppCfgDemo/obj/Release
/AppCfgDemo/bin/Release
/AppCfg.Test/bin
/AppCfg.Test/obj
/.vs/AppCfgSolution/DesignTimeBuild
/AppCfgDemoMssql/bin/Debug
/AppCfgDemoMssql/obj/Debug
/AppCfgDemoMssql/bin/Release
/AppCfgDemoMssql/obj/Release
/AppCfg.Redis/obj
/AppCfgDemoRedis/bin/Debug
/AppCfgDemoRedis/obj/Debug
