<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <!-- Fallback value for DemoValue if not in env vars or secrets -->
    <add key="DemoValue" value="from-appsettings" />
  </appSettings>
</configuration>
