<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <appSettings>
    <add key="DemoBoolean" value="1" />
    <add key="DemoDateTime" value="11/29/2017 23:39:03" />
    <add key="DemoDateTimeWithFormat" value="24+09/2015" />
    <add key="DemoDecimal" value="-123,36.8999" />
    <add key="DemoDouble" value="1.7E+3" />
    <add key="DemoGuid" value="{8ff3a01d-1884-4ebd-b787-d5980aa94899}" />
    <!--<add key="DemoInt" value="1"/>--> <!--demo default value-->
    <add key="long-key" value="9,223,372,036,854,775,807" />
    <add key="DemoString" value="hello, I'm a string" />
    <add key="DemoTimeSpanFirst" value="01:02:03" />
    <add key="DemoTimeSpanSecond" value="01:02:03:04" />
    
    <add key="Numbers" value="1^99^1,234,567,89" />
    
    <add key="cute_animal" value="{Name : 'Duck', legs : '2', SampleDay : '26+11+2018', CanSwim : true}" />
    <add key="test_setting_with_js_config" value="{DayWithNewFormat : '26|Dec+2019'}" />

    <add key="enum_by_int" value="1"/>
    <add key="enum_by_string" value="ThirdValue"/>
    <add key="hello_enum" value="World"/>
    
  </appSettings>
  <connectionStrings>
    <add name="myConnFirst" connectionString="Data Source=(local); Initial Catalog=Microsoft;User ID=u4erN@me;Password=p@55w0rd" providerName="System.Data.SqlClient"/>
    <add name="myConnSecond" connectionString="Data Source=JINPC\MSSQL2017;Initial Catalog=AppCfgDatabase;Integrated Security=True;Connection Timeout=180;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>  
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
      <dependentAssembly>  
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />  
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />  
      </dependentAssembly>  
    </assemblyBinding>
    </runtime>
</configuration>