<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <appSettings>
    <!--<add key="DemoInt" value="1"/>--> <!--demo default value-->
    <add key="long-key" value="9223372036854775807" />
    <add key="ThisIsGuid" value="{8ff3a01d-1884-4ebd-b787-d5980aa94899}" />
    <add key="Numbers" value="1,99,1000" />
    <add key="cute_animal" value="{Name : 'Duck', legs : '2', SampleDay : '26+11+2018', CanSwim : true}" />
    <add key="test_setting_with_js_config" value="{DayWithNewFormat : '26|Dec+2019'}" />
  </appSettings>
  
  <runtime>  
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
      <dependentAssembly>  
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />  
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />  
      </dependentAssembly>  
    </assemblyBinding>
    </runtime>
</configuration>