<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <appSettings>
    <!--<add key="DemoInt" value="1"/>-->
    <add key="long-key" value="9223372036854775807"/>
    <add key="ThisIsGuid" value="{8ff3a01d-1884-4ebd-b787-d5980aa94899}"/>
    <add key="CustomProp" value="HUNG VO"/>
  </appSettings>
  
</configuration>